@page "/HStack"
@using Phazor.Sample.Tools
@using Phazor.Components.Models
@attribute [PhazorSample("PhazorHStack")]

<PhazorHStack Horizontal="HorizontalDistribution.Around">
    <div>1</div>
    <div>1</div>
    <div>1</div>
</PhazorHStack>

@code {
    
}