@page "/"

<div style="display: flex; flex-direction: column">
    <a href="/ReactiveForEach">PhazorReactiveForEach</a>
    <a href="/ReactiveText">PhazorReactiveText</a>
    <a href="/ReactiveValue">PhazorReactiveValue</a>
    <a href="/Binding">PhazorBinding</a>
</div>