@page "/"

<div style="display: flex; flex-direction: column">
    <a href="/ReactiveForEach">ReactiveForEach</a>
    <a href="/ReactiveText">ReactiveText</a>
    <a href="/ReactiveValue">ReactiveValue</a>
</div>