@page "/ReactiveText"
@attribute [PhazorSample("PhazorReactiveText")]
@using System.Reactive.Subjects
@using Phazor.Sample.Tools

<button onclick="@Clicked">Increment</button>

<PhazorReactiveText Value="_value"/>


@code {
    private int _counter;

    private readonly Subject<string> _value = new Subject<string>();

    private void Clicked()
    {
        _value.OnNext(_counter++.ToString());
    }

}