@page "/ReactiveForEach"
@using System.Reactive.Subjects
@using Phazor.Components.Extensions

<button onclick="@OnClick">
    Add value
</button>

<PhazorReactiveForEach Elements="_subject.Bind()">
    <Fragment Context="value">
        <span>@value</span>
    </Fragment>
</PhazorReactiveForEach>


@code {

    private readonly List<string> _values = new List<string>();
    private readonly Subject<IEnumerable<string>> _subject = new Subject<IEnumerable<string>>();

    private void OnClick()
    {
        _values.Add(_values.Count.ToString());
        _subject.OnNext(_values);

        Console.WriteLine($"Count: {_values.Count}");
    }

}