@page "/VStackPage"
@using Phazor.Sample.Tools
@using Phazor.Components.Models
@attribute [PhazorSample("PhazorVStack")]

<PhazorVStack Vertical="VerticalDistribution.Around">
    <div>1</div>
    <div>1</div>
    <div>1</div>
</PhazorVStack>

@code {
    
}